#top-text {
  display: flex;
  justify-content: space-between;
  font-family: "Lucida Console", "Courier New", monospace;
}

#title {
  display: inline-block;
}

#score {
  display: inline-block;
}

#score-number {
  font-family: "Times New Roman", Times, serif;
}

#level {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

#level-number {
  font-family: "Times New Roman", Times, serif;
}

#buttons {
  display: flex;
  justify-content: center;
}

#game-screen {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
}

.grid {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 204px;
  height: 404px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  border: 2px solid darkgray;
  outline: lightgray solid 2px;
}

.preview-grid {
  margin-top: 10px;
  margin-left: 10px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
}

/*.solid {
  
}*/