#top-text {
  display: flex;
  justify-content: space-between;
}

#title {
  display: inline-block;
}

#score {
  display: inline-block;
}

#buttons {
  display: flex;
  justify-content: center;
}

#game-screen {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
}

.grid {
  margin-bottom: 10px;
  width: 204px;
  height: 404px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  border: 2px solid darkgray;
  outline: lightgray solid 2px;
}

.preview-grid {
  margin-top: 10px;
  margin-left: 10px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
}

/*.solid {
  
}*/