<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div id="top-text">
        <h5 id="score">Score: <span id="score-number">0</span></h5><h5 id="title">Tetrolino</h5>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="game-screen">
    <div id="game">

      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large"><span id="title">Tetrolino</span></ion-title>
        </ion-toolbar>
      </ion-header>
    
      <div class="container">
        <div class="grid">
        </div>
    
        <div>
          <div class="preview-grid">
          </div>
          <div id="level">
            <h4>Level</h4>
            <h3 id="level-number">0</h3>
          </div>
        </div>
        
      </div>
      
      <div id="buttons">
        <ion-button id="start-pause-button">Start / Pause</ion-button>
        <ion-button id="rotate-button">ROTATE</ion-button>
      </div>
      <div id="buttons">
        <ion-button id="move-left-button">LEFT</ion-button>
        <ion-button id="move-down-button">DOWN</ion-button>
        <ion-button id="move-right-button">RIGHT</ion-button>
      </div>

      <!-- Testing Google Admob-->
      <!--div id="buttons" style="margin-top: 10px;">
        <ion-button (click)="showBannerAd(bannerAdId)">Show Banner</ion-button>
        <ion-button (click)="hideBannerAd()">Hide Banner</ion-button>
      </div>
      <div id="buttons">
        <ion-button (click)="showInterstitialAd()">Interstitial</ion-button>
        <ion-button (click)="showRewardAd()">Reward Ad</ion-button>
      </div-->

    </div>
  </div>

</ion-content>
