<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div id="top-text">
        <h4 id="score">Score: <span id="score-int">0</span></h4><h4 id="title">Tetrolino</h4>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="game-screen">
    <div id="game">

      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Tetrolino</ion-title>
        </ion-toolbar>
      </ion-header>
    
      <div class="container">
        <div class="grid">
        </div>
    
        <div class="preview-grid">
        </div>
      </div>
      
      <div id="buttons">
        <ion-button id="start-pause-button">Start / Pause</ion-button>
        <ion-button id="rotate-button">ROTATE</ion-button>
      </div>
      <div id="buttons">
        <ion-button id="move-left-button">LEFT</ion-button>
        <ion-button id="move-down-button">DOWN</ion-button>
        <ion-button id="move-right-button">RIGHT</ion-button>
      </div>

      <!-- Testing Google Admob-->
      <div id="buttons" style="margin-top: 10px;">
        <ion-button (click)="showBanner(bannerAdId)">Show Banner</ion-button>
        <ion-button (click)="hideBanner()">Hide Banner</ion-button>
      </div>
      <div id="buttons">
        <ion-button (click)="showInterstitial(interstitialAdId)">Interstitial</ion-button>
        <ion-button (click)="showRewardVideo(rewardedAdId)">Reward Video</ion-button>
      </div>

    </div>
  </div>

</ion-content>
